.DropdownComponent {
  width: 100px;
  height: 100px;
  background-color: #1a1f71;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 50%;
  border: none;
  margin: 0px auto;
  display: block;
  outline: none;
}
.DropdownComponent:hover {
  box-shadow: 0px 0px 1px 4px #1a1f71;
  background-color: #1a1f71;
}
.DropdownComponent:active {
  box-shadow: inset 0px 0px 0px 4px #1a1f71, inset 0px 0px 2px 6px #fff;
  background-color: #1a1f71;
}
.itemOptions {
  background: #1a1f71;
  color: #1a1f71;
  margin: 12px auto;
  display: block;
  border: 2px solid #1a1f71;
  border-radius: 8px;
  width: 152px;
  box-shadow: 0px 0px 0px 4px #1a1f71;
}

.itemOption {
  color: #ffffff;
  margin: 0px auto;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.itemOption:hover {
  background-color: #0275d8;
  box-shadow: 0px 0px 0px 4px #0275d8;
  margin: 8px;
}

.itemOption:active {
  box-shadow: inset 0px 0px 0px 4px #1a1f71, inset 0px 0px 2px 6px #fff;
  background-color: #1a1f71;
  width: 120px;
  margin: 4px;
}
