.DropdownComponent {
  width: 550px;
  height: 58px;
  background-color: #1a1f71;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 8px;
  margin: 12px auto;
  display: block;
  font-weight: 500px;
}

.itemOptions {
  color: white;
  background-color: #1a1f71;
}
